@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background: linear-gradient(135deg,#2563eb,#4f46e5,#7c3aed);
    background-size:cover;
}

/* Full Screen */
.login-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("/public/admin.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/* Login Card */
.login-form{
    width:420px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,.25);
    border-radius:20px;
    padding:40px;
    box-shadow:0 15px 35px rgba(0,0,0,.3);
    animation:fadeIn .7s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Heading */

.login-title{
    text-align:center;
    color:#fff;
    font-size:34px;
    font-weight:700;
    margin-bottom:30px;
    background-color: #584fff;
}

/* Inputs */

.login-input{
    width:100%;
    padding:15px 18px;
    margin-bottom:18px;
    border:none;
    outline:none;
    border-radius:12px;
    background:rgba(255,255,255,.15);
    color:#fff;
    font-size:15px;
    transition:.3s;
}

.login-input::placeholder{
    color:#eee;
}

.login-input:focus{
    background:rgba(255,255,255,.25);
    box-shadow:0 0 15px rgba(255,255,255,.35);
}

/* Button */

.login-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    color:#fff;
    background:linear-gradient(135deg,#00c6ff,#0072ff);
    transition:.3s;
    margin-top:10px;
}

.login-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 12px 25px rgba(0,114,255,.45);
}

/* Register */

.register-section{
    margin-top:25px;
    text-align:center;
}

.register-section p{
    color:#fff;
    font-size:15px;
}

.register-btn{
    border:none;
    background:none;
    color:#ffd54f;
    cursor:pointer;
    font-weight:600;
    font-size:15px;
    transition:.3s;
}

.register-btn:hover{
    color:#fff;
    text-decoration:underline;
}

/* Responsive */

@media(max-width:600px){

.login-form{
    width:90%;
    padding:30px;
}

.login-title{
    font-size:28px;
}

}